*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 14px;
    align-items: center;
    width: 100vh;
    padding: 70px 400px;
}

#container{
    width: 70%;
    height: 500px;
    background-color: #fff;
    align-items: center;
    /* text-align: center; */
    border-radius: 20px;
    /* border: 20px solid #0000 */
}

#header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(223, 65, 65);
}

#content{
    /* padding: 25px; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    line-height: 1.5;
    font-size: 16px;
}

#balance{
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    margin-top: 10px;
    color: #fff;
    padding: 5px 10px;
    align-items: center;
    line-height: 1.5;
    font-size: 16px;
}

#sub_body{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    line-height: 1.5;
    font-size: 16px;
}

#images{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}